 body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.top-section{
    margin: 0;
}
.image-div{
    color: white;
    background: url(images/donation13.jpg);
    background-size: cover;
    height: 700px;
    margin-top: -20px;
    text-align: center; 
    padding-top: 15%;
    
    
}

.image-div h1{
   font-size: 50px;
   line-height: 15px;

}

.image-div p{
    font-size: 20px;
    line-height: 5px;
}

.top-text{
    background-color: rgba(0, 0, 0, 0.219);
    padding: 100px;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;

}

.btn-div{
    margin-top: -70px;
}
.donate-today{
    margin-top: 100px;
}
.donate-today-text{
    text-align: center;
}
.donate-today-text h1{
    font-size: 50px;
    line-height: 35px;
}
.donate-today-text p{
    font-size: 16px;
    color: grey;
    line-height: 10px;
}
.selection{
    margin-left: 180px;
    margin-top: 130px;
}
.selection a{
    padding: 50px 50px;
    background-color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: grey;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}
#selected{
    color: #FF5959;
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}
.selection-input{
    margin-top: 130px;
}

.amount-input{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    height: 50px;
    border: none;
    outline: 0;
    border-bottom: 2px solid grey;
    font-size: 20px;
    
}

.amount-input:focus{
    border: none;
    border-bottom: 2px solid rgb(39, 36, 36);
}

.donate-now-btn{
    margin-top: 50px;
    text-align: center;
}

.donate-plan{
    display: flex;
    margin-top: 100px;
}

.donate-plan-card{
    width: 360px;
    height: 200px;
    border-radius: 5px;
    padding: 63px;
    padding-left: 23px;
}

#center-plan{
    margin-left: 24px;
    margin-right: 24px;
    background-color:rgba(255, 89, 89, 0.1);
}
#left-plan{
    margin-left: 157px;
    background-color: rgba(79, 157, 166, 0.1);
}
#right-plan{
    margin-right: 157px;
    background-color: rgba(255, 244, 214, 1);
}

.donate-plan p{
    line-height: 10px;
}

.donate-plan-text{
    margin-top: 120px;
    margin-bottom: 60px;
    text-align: center;
}
.donate-plan-text h1{
    font-size: 50px;
}

.donate-plan-text p{
    line-height: 10px;
    color: gray;
}

.get-updates-text{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.get-updates-text h1{
    font-size: 50px;
}

.get-updates-text p{
    line-height: 10px;
    color: gray;
}
.sub-form{
    margin-left: 316px;
    margin-right: 316px;
    background-color: rgba(255, 89, 89, 0.1);
    margin-bottom: 150px;
}

.form{
    display: flex;
    padding: 40px;
    
   
}
.form input{
    margin-left: 24%;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.178);
}

footer{
    background-color: #0B0D17;
    background-size: cover;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer h1{
    color: #FF5959;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'The Nautigal', cursive;
    font-size: 50px;
}

footer p{
    color: white;
}
.register-div{
    background-color:rgba(255, 89, 89, 0.1);
    text-align: center;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    width: 20%;
    margin-left: 30%;
}

.register-div input , textarea{
    border: none;
    background-color: rgba(128, 128, 128, 0.178);
    text-align: center;
    padding: 20px;
}



